/* -----VARIABLES---- */
@font-face {
  font-family: Bely;
  src: url(type/Bely\ Display\ W00\ Regular.ttf);
}
@font-face {
  font-family: Futura;
  src: url(type/Futura\ Medium.otf);
}

:root {
  --green: rgb(80, 89, 66);
  --yellow: rgb(217, 145, 82);
  --brown: rgb(89, 56, 37);
  --rust: rgb(191, 99, 65);
  --peach: rgb(242, 177, 153);

  --head-font: 'Bely', serif;
  --type-font: 'Futura', sans-serif;

}

/* -----CSS RESET---- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
 
}
ol, ul {
	list-style: none;
}

/*-----Page Styling------*/

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
    
  padding: 0px 10px 6px 10px;
  
  background-color: var(--green);
  
  color: #ffff;
  font-family: var(--head-font);
  font-size: 2rem;
  border-radius: 40px;
  cursor: pointer;
 }

body {
  font-family: var(--type-font);
  background-color: #ffff;
}

h1, h2 , h3, h4 {
  font-family: var(--head-font);
  font-size: 2rem;
  color:var(--green);
}

h1, h2 {
  text-transform: capitalize;
  font-size: 3.5rem;
}

img {
  width: 20%;
}

/*--- Header --- */

header {
  height: 15vh;
  width: auto;
  margin: 1rem 5vw ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bean-logo{
  width: 50px;
}

.menu-btn {
  font-size: 1rem;
  padding: 10px 20px;
}

.search-icon {
  margin-left: 10px;
  color: var(--green);
  font-size: 1.2rem;
}

/*---- Main Container ----*/
.main-container {
  display: flex;
  flex-flow: column wrap;
  gap: 5vh;
}


/*----Section 1-----photos*/

.section1 {
  height:40vh;
}

.carousel {
  background-image: url('images/cafe_wide.jpg');
  background-size: cover;
  background-repeat: none;
  height: 100%;
  
}

.filter {
  background-color: rgba(89, 56, 37, .4);
  height: 100%;
  
  display: flex;
  align-items: center;
}

.section1 h3  {
  margin: 3rem;

  font-size: 2.5rem;
  color: #ffff;

  height: fit-content;
}

/*---Section 2--- bean club*/

.section2 {
  margin: 1.5rem;

  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.section2-img-container {
  width: auto;
  overflow: hidden;
}

.section2-img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

.bean-club-info {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.section2 h2{
  font-size: 4rem;
}

p{
  font-size: 2rem;
  line-height: 1.5;
}

.learn-more-btn {
  font-size: 1.8rem;
  width: 45%;
}

/*---Section 3--- coffee flavors*/ 

.section3 {
  margin: 4rem 1.5rem;


  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;

}

.section3 h2 {
  font-size: 4rem;
}

.flavors-container {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.view-flavor-btn {
  font-size: 1.8rem;
  width: 50%;

  margin-bottom: 16px;
}

.section3-img {
  width: 100%;
}

/*----Section 4---sign up*/

.section4 {
  margin-top: 2rem;
  padding: 1.5rem;
  padding-bottom: 3rem;

  background-color: var(--rust);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
}

.section4 h3 {
  color: #ffff;
  text-transform: capitalize;

  line-height: 1.3;
  padding: .5rem; 
  text-align: center;
}

.sign-up-btn {
  font-size: 1em;
  border-radius: inherit;
}

.sign-up {
  height: 3em;
  width: 70%;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;

  border-radius: 20px;
}

.sign-up input { 
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 60%;
}

/*----spacing ----*/

.spacing-div{
  height: 150px;
}

/*----Footer----*/

footer {
  padding: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 2fr 1fr 1fr;
  gap: 16px;

  border-top: 8px solid var(--green);
}

footer h3 {
  font-size: 1.5rem;
}

footer p {
  font-size: 1rem;
  line-height: 2;
}

.footer-logo-container {
  text-align: center;
  font-family: var(--head-font);
  color: var(--green);

  grid-column: 1 / span 3;
  grid-row: 1;
}

.footer-logo-container img {
  width: 40%;
}


.corporate-info-container {
  grid-column: 1;
  grid-row: 2;

  line-height: 1.2;
}

.socials {
  grid-column: 1;
  grid-row: 3;

  font-size: 2rem;
  color: var(--rust);
}

.member-container {
  grid-column: 3;
  grid-row: 2;
  max-width: 200px;

  line-height: 1.2;
}

.footer-learn-more {
  grid-column: 3;
  grid-row: 3;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

  h2 {
    font-size: 3rem;
  }

  header {
    height: 40px;
  }

  .section1 {
    height: 60vh;
    width: auto;
  }

  .section1 h3 {
    font-size: 3.8rem;
  }

  .section2 {
    flex-flow: row;
    gap: 48px;
    margin: 40px;
    width: auto;
  }

  .section2-img-container {
    width: 60vw;
    height: 60vh;

    background-image: url("images/green_mugs.jpg");
    background-size: cover;
  }

  .bean-club-info {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    gap: 20px;
  }


  .learn-more-btn {
    width: fit-content;
    padding: 5px 40px;
  }

  .section3 {
    flex-flow: row;
    width: auto;

    margin: 40px;
  }

  .section3-img {
    width: 40%;
  }

  .flavors-container {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .view-flavor-btn {
    width: fit-content;
    padding: 5px 40px;
  }

  .sign-up {
    width: 50%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 12px;

    border-top: 8px solid var(--green);
  }

  .footer-logo-container {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .footer-logo-container img {
    width: 150px;
    margin: 15px;
    margin-bottom: 1rem;
  }

  .corporate-info-container {
    grid-column: 1;
    grid-row: 1;
  }

  .socials {
    grid-column: 1;
    grid-row: 2;
  }

  .member-container {
    grid-column: 3;
    grid-row: 1;
  }

  .footer-learn-more {
    grid-column: 3;
    grid-row: 2;
  }
}

@media only screen and (min-width: 1000px) {

  .section2-img-container {
    width: 60vw;
    height: 70vh;

    background-image: url("images/cheers.jpg");
    background-repeat: none;
    background-position: 0px 0px;
  }

  .learn-more-btn {
    width: fit-content;
    padding: 5px 40px;
  }

  .view-flavor-btn {
    width: fit-content;
    padding: 5px 40px;
  }

  .sign-up {
    width: 30%;
  }

}


